* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #272727;
    width: 100%;


}

header {
    display: flex;
    padding: 20px 30px;
    align-items: center;


}




.logo {
    width: 10%;

}

nav ul {
    display: flex;
    list-style: none;

}

nav ul li a {
    text-decoration: none;
    color: #ffff;
    font-size: 20px;
    margin-right: 30px;
}

nav ul li a:hover {
    text-decoration: underline;
    color: #FF9900;
}

.fundo img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 95%;
    min-width: 0;


}


.carrot p {
    margin-top: 400px;
    text-align: left;
    width: 50%;
    font-size: 30px;
    color: #ffff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.compraragr {
    margin-left: 40px;
}

.compraragr .botao {
    display: inline-block;
    padding: 9px 25px;
    font-weight: bold;
    font-size: 19px;
    background: none;
    box-shadow: 0 0 0 2px #FF9900;
    margin-top: 10px;
    text-decoration: none;
    color: white;

}

/* especificaçoes */
.specs {
    margin-left: 5%;
}

.specs .detalhes {

    display: inline-block;
    padding: 9px 300px;
    font-size: 19px;
    box-shadow: 0 0 0 2px #FF9900;
    margin-top: 20%;
    color: white;
    margin-left: 20%;

}

.spec1 p {
    display: inline-block;
    color: #ffff;
    padding-left: 60px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 17%;

}

.specs hr {
    width: 51%;
    margin-left: 295px;
    border-color: #FF9900;
}

.spec2 p {
    display: inline-block;
    color: #ffff;
    padding-left: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15%;

}

.spec3 p {
    display: inline-block;
    color: #ffff;
    padding-left: 60px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 17%;

}

.spec4 p {
    display: inline-block;
    color: #ffff;
    padding-left: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15%;

}

.spec5 p {
    display: inline-block;
    color: #ffff;
    padding-left: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15%;

}

/* descricao */
.descricao h1 {
    margin-top: 10%;
    margin-bottom: 2%;
    text-align: center;
    color: #ffff;
}

.descricao p {
    text-align: left;
    margin: 10px 300px;
    color: #ffff;
}

/* interior */

.interior h2 {
    text-align: center;
    color: #ffff;
    margin-top: 150px
}

.interior p {
    text-align: left;
    margin-top: 6%;
    margin-left: 55%;
    margin-right: 15%;
    color: #ffff;
}



.interior img {
    width: 30%;
    height: 100%;
    float: left;
    margin-left: 20%;
    margin-top: 2%;
}

/* exterior */
.exterior {
    display: inline-block;
}

.exterior h2 {
    text-align: center;
    color: #ffff;
    margin-top: 10%;
}

.exterior p {
    text-align: left;
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 50%;
    color: #ffff;
}



.exterior img {
    width: 33%;
    margin-right: 15%;
    margin-top: 4%;
    float: right;

}

.preco {
    display: inline-block;
    padding-left: 20px;
    margin: 10%;
    margin-left: 450px;
    font-size: 19px;
    box-shadow: 0 0 0 2px #FF9900;
    color: white;
}

.preco h3 {
    text-align: center;
    font-size: 35px;
    padding-top: 2%;
    padding-right: 50%;
}

.preco h4 {
    font-size: 20px;
    text-align: center;
    padding-right: 50%;
}

button {
    float: right;
    padding: 10px 30px;
    font-size: 20px;
    border: none;
    background: #FF9900;
    color: #fff;
    margin-right: 10px;
    margin-left: 500px;
    margin-bottom: 10px;
    margin-top: -60px;
    cursor: pointer;

}

.imagem img {
    margin-top: 5%;
    width: 100%;
    height: 100%;
}

/* footer */
.footerhr hr {
    margin-top: 50px;
    border-color: #686868;
}

.copy p {
    text-align: left;
    background-color: black;
    color: #ffff;
    padding-left: 100px;
    font-weight: bold;
}

footer {
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: black;
    color: white;
}


footer a img {
    width: 50%;
    margin-left: 5px;
    background-color: white;
    border-radius: 50%;
}

footer .icones {
    display: flex;
    justify-content: flex-end;
}

.contatos {
    text-align: center;

}



.contatos p {
    margin-top: 20px;

}

.ulfooter {
    display: flex;
    list-style: none;
}

.ulfooter li a {
    text-decoration: none;
    color: #ffff;
    font-size: 15px;
    margin-right: 30px;

}