@media(max-width:580px) {
    .imgfundo img {
        height: 30%;
        padding-bottom: 10%;
    }

    .carrosmercedes {
        display: inline-block;
        padding-right: 15%;
    }

    .carrosLamborghini {
        display: inline-block;
        padding-right: 15%;
    }

    .carrosporche {
        display: inline-block;
        padding-right: 15%;
    }

    .carrosaudi {
        display: inline-block;
        padding-right: 20%;
    }

    .carrosbentley {
        display: inline-block;
        padding-right: 30%;
    }


    footer .contatos {
        padding-top: 10%;
    }

    footer .icones {
        padding-top: 10%;
    }

}